version: "3.9"

services:
  app:
    build:
      context: .
      target: full
    ports:
      - "80:80"
    env_file:
      - .env
    depends_on:
      - mongo

  mongo:
    image: mongo:7
    restart: unless-stopped
    environment:
      MONGO_INITDB_DATABASE: ${DB_NAME}
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"

volumes:
  mongo_data:
